 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      font-family: "Poppins";
      background-size: 500px 500px;
      background-color: #1e1e1e;
      background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
      background-repeat: repeat;
      animation: moveBackground 60s linear infinite;
      color: #333;
    }

    @keyframes moveBackground {
      0% { background-position: 0 0; }
      100% { background-position: 1000px 1000px; }
    }

    header {
      background-color: #13162c;
      padding: 20px;
      text-align: center;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.716);
    }

    header img {
      max-width: 150px;
    }

    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 30px;
      gap: 20px;
    }

    #newbox {
         border: 2px dashed rgb(102, 255, 94);
    }

    #newbox-date {
        color: #43ff4c;
    }

    .box {
      background: rgba(6, 42, 86, 0.104);
      border: 2px dashed rgba(255, 255, 255, 0.31);
      backdrop-filter: blur(3px);
      border-radius: 12px;
      padding: 20px;
      width: calc(50% - 20px);
      max-width: 370px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.359);
      transition: all 0.2s ease;
    }

    .box:hover {
      transform: translateY(-5px);
      border: 2px dashed rgb(110, 154, 255);
    }

    .box-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 12px;
    }

    .box-title {
      font-size: 18px;
      color: aliceblue;
      font-weight: bold;
    }

    .box-date {
      font-size: 14px;
      color: #666;
      position: relative;
      top: -10px;
      font-style: italic;
    }

    .box-content {
      font-size: 15px;
      line-height: 1.5;
      padding: 10px;
      font-weight: bold;
    }

    .box-content i {
      margin-top: 10px;
    }

    .added { color: rgb(102, 255, 102); }
    .removed { color: rgb(255, 75, 75); }
    .modified { color: rgb(255, 200, 97); }
    .inprogress { color: rgb(94, 94, 255); }

    @media (max-width: 600px) {
      .box {
        width: 100%;
      }
    }